 /*estilos para el fondo y el menu*/

 #fondoc1 {

     background-image: url(../img/fondograsnillo.jpg);

     /*hace que elfondo tenga un degradado circular*/
     background-repeat: no-repeat;
     /* no-repeat. Hace que la imagen de fondo no se repita en caso de que no llene toda la pantalla*/
     background-size: cover;
     /*cover es cubrir. Toda la imagen cubre la pantalla*/
     height: 100vh;
     /*vh, es alto de pantalla*/
 }





 #logo {
     height: 20vh;

 }

 @keyframes desplazarlogo {
     /*keyframes: es una regla que manda instrucciones en el periodo de la animacion*/
     /*se agrega un nombre a la animacion en este caso mover*/
     /*y adentro de nuestra regla van todas las animaciones que deceamos que tenga pero sucesivamente*/





     100% {
         transform: rotate(320deg) translateY(0);
         /* Final: rotación doble y traslación de regreso */
     }

 }

 #logo {
     animation: desplazarlogo 0.5s ease-in
         /* con alternate-reverse  comienza la animacion en el último paso y se mueve hacia atrás, luego hacia adelante por eso empieza con el 100%*/
 }


 #barrac1 {
     height: 10vh;
     width: 100vw;
     /*vw, ancho de pantalla*/
     position: fixed;
 }

 #menuc1 {

     font-size: 1rem;
     /*fon-size. Dicta el tamño de letra*/
     justify-content: flex-end;
     /*flex-end en el justify-content. Acomoda a la derecha mi menu*/
     text-decoration: none;
     font-weight: bold;
 }

 .nav-link {
     font-size: 1.3vw;
     outline: none;
     border: none;
     text-decoration: none;
     list-style-type: none;
     color: #000000;
     margin-top: 2.5vh;
     /*margin-top. dicta la distancia que tiene arriba*/
     text-decoration: none;
     /*text-decoration: none. Quita el subrayado del enlace*/
     transition: transform 0.5s ease;
     /*ease hace que cuando escale con el hover sea suave*/
 }

 #menuc1 a.nav-link:hover {
     font-weight: bold;
     /* font-weight: bold. Hace la letra mas negrita*/
     outline: none;
     /* outline:none. Elimina el contorno alrededor de un elemento*/
     color: #000000;
     transform: scale(1.1);

 }

 #botonregistrar {
    display: flex;
   text-align: center;
   justify-content: center;
   align-items: center;
     border: 1px solid #ffffff;
     /*grosor del borde del boton*/
     font-size: 1.3vw;
     text-decoration: none;
     background-color: #c5370c;
     /*hace que elfondo tenga un degradado circular*/
     border-radius: 26px;
     width: 7vw;
     transition: transform 0.5s ease ;

 }
 
 

 /*Estilos para el eslogan y su difuminado */

 #bienvenida {
     height: 80vh;
     background-color: #ffffff94;
     max-width: 90vw;
     /* max width Establece un ancho máximo para tu sección */
     margin: 0 auto;
     /*margin  Auto-centra la sección horizontalmente */
     padding: 20vh;
     /* padding Agrega espacio dentro de la sección osea centra el texto en la cajita*/
     margin-top: 10vh;
     display: flex;
     justify-content: center;
     /* display y justify content acomodan los hijos del cuadro bienvenida AL CENTRO CON CENRTER*/
 }

 #eslogan {
     margin-top: 1vh;
     /*margin top hace que tenga un espacio arriba del cuadro blanco transparente del centro*/
     text-align: center;
     /*centra mi texto*/
     font-family: 'Trebuchet MS', sans-serif;
     font-size: 4vw;
     /*font size da el tamaño a mi letra*/
     font-weight: bold;
     /*font weight bol pone negritas las letras*/
 }



 /*Estilos para el boton de entrar */

 #boton1 {
     text-align: center;
     margin-top: -25vh;
 }

 #entraya {
     font-weight: bold;
     background-color: #c5370c;
     /*hace que elfondo tenga un degradado circular*/
     border: 1px solid #ffffff;
     /*grosor del borde del boton*/
     height: 9vh;
     width: 14vw;
     font-size: 2vw;
     border-radius: 24px;
     margin-top: 10vh;
     color: rgb(255, 255, 255);
     line-height: 7vh;
     /*centra la letra del boton en medio del cuadrito*/
     transition: background-color 0.3s ease;
     transition: transform 0.5s ease;
     /*ease hace que cuando escale con el hover sea suave*/
 }

 #entraya:hover {
     color: #ffffff;
     transform: scale(1.1);

 }

 /*Estilos para el login */

 #contenedorlogin {
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
 }

 #login {
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     margin-top: 22vh;
     width: 25vw;
     height: 70vh;
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
     background-color: #ffffffef;
 }

 #datos {
     border-radius: 5px;
     font-size: 1.2rem;
     margin-top: -45vh;
 }

 #titulois {
     font-weight: bold;
     /*pone en negrita la letra*/
     font-size: 2vw;
     margin-bottom: 30px;
 }

 .form-group {
     margin-bottom: 30px;
     /* botton dicta el espacio de separado que tiene de los elementos que tiene alrededor*/
 }

 .inputis {
     height: 4vh;
     width: 18vw;
     /* ajusta el anclo del input*/
     padding: 10px;
     /*le da espacio al elemento de adentro a su alrededor*/
     background-color: #ffffff79;
     border: 1px solid #ccc;
     /*ajusta el grosor del borde del input*/
     border-radius: 8px;
     font-size: 1.2vw;
     margin-bottom: -20px;
 }

 #labelcontra {
     position: relative;
     right: 5.7vw;
     display: block;
     /*los forma en bloke uno en cima de otro*/
     font-weight: bold;
     /*pone en negrita la letra*/
     font-size: 1.2vw;
     margin-bottom: -20px;
 }

 #labelregistro {
     position: relative;
     right: 7vw;
     display: block;
     /*los forma en bloke uno en cima de otro*/
     font-weight: bold;
     /*pone en negrita la letra*/
     font-size: 1.2vw;
     margin-bottom: -20px;
 }

 #iniciarsesion {
     background-color: #c5370c;
     /*hace que el fondo tenga un color degradado a la derecha*/
     border: 1px solid #ccc;
     /* tamaño del grosor borde del boton  */
     border-radius: 15px;
     position: absolute;
     /*absolute se utiliza para posicionar un elemento de manera absoluta con respecto a su ancestro*/
     top: 80vh;
     /*dicta que se separe de su techo padre 70%*/
     left: 50%;
     /*se aleja de la izquierda a la mitad*/
     transform: translate(-50%, -50%);
     /*lo traslada completamente al centro pero es necesario el left y el top*/
     font-weight: bold;
     /*pone en negrita la letra*/
     padding: 10px 20px;
     margin: 5px;
     color: #ffffff;
     font-size: 1vw;
 }

 #fondoregistrar {
     background-image: url(../img/fondoleche.jpg);
     /*hace que elfondo tenga un degradado circular*/
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     height: 100vh;
 }

 #imagenusuariologin {
     width: 13vw;
     height: 25vh;
     margin-top: 10vh;

 }

 #infocontra {
     margin-top: 7vh;
     /*pone en negrita la letra*/
     font-size: 1.2vw;
 }

 /*Estilos de regitrarse*/

 #registrarse2 {
     background-color: #c5370c;
     /*hace que el fondo tenga un color degradado a la derecha*/
     border: 1px solid #ccc;
     /* tamaño del grosor borde del boton  */
     border-radius: 15px;
     position: absolute;
     /*absolute se utiliza para posicionar un elemento de manera absoluta con respecto a su ancestro*/
     top: 75vh;
     /*dicta que se separe de su techo padre 70%*/
     left: 50%;
     /*se aleja de la izquierda a la mitad*/
     transform: translate(-50%, -50%);
     /*lo traslada completamente al centro pero es necesario el left y el top*/
     font-weight: bold;
     /*pone en negrita la letra*/
     padding: 10px 20px;
     margin: 5px;
     color: #ffffff;
     font-size: 1vw;
 }

 /*Estilos para el inicio*/

 #barrainicio {
     display: flex;
     flex-wrap: nowrap;
     /*flex-wrap: nowrap junto display: flex : hace que los elementos se mantengan alineados uno a lado del otro en diferente resolucion*/
     height: 16vh;
     width: 100vw;
     /*vw, ancho de pantalla*/
     position: fixed;
     /* background-color:#a40b54;*/
     background-color: #ffffffa8;



 }

 #fondocinicio {
     background-image: url(../img/fondocolores.jpeg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;

     height: 100vh;


 }



 
 #tituloi {
     position: fixed;
     margin-left: auto;
     margin-right: auto;
     top: 20vh;

 }

 #preguntainicio {

     font-size: 5vw;
 }

 /*animacion de la pregunta de inicio*/
 @keyframes animar {
     0% {
         opacity: 0;
     }


     100% {
         opacity: 1;
     }

 }

 #preguntainicio {
     animation: animar 2s backwards;

 }





 /*cartas de las imagenes*/
 .container-flex {
     display: flex;
     flex-wrap: nowrap;
 }

 .menucards {
     display: flex;
     justify-content: center;
     text-align: center;
     align-items: center;
 }

 .carta1 {
     display: block;
     justify-content: center;
     align-items: center;
     text-align: center;
     background-color: #ffffffef;
     width: 17.3vw;
     height: 40vh;
     margin-top: 35vh;
     margin-left: 2vw;
     border-radius: 2px;

     transition: transform 0.3s ease;
     /*ease Agregar una transición suave */
 }

 .carta1:hover {
     transform: scale(1.2);

 }

 #imgcard {
     width: 14vw;
     height: 25vh;
     margin-bottom: 20px;
     margin-top: 3vh;
 }

 @keyframes desplazar {
     /*keyframes: es una regla que manda instrucciones en el periodo de la animacion*/
     /*se agrega un nombre a la animacion en este caso mover*/
     /*y adentro de nuestra regla van todas las animaciones que deceamos que tenga pero sucesivamente*/



     50% {
         opacity: 1;
         transform: translateY(0px);
         /* lo regresa al centro */
     }

     75% {
         opacity: 0.5;
         transform: translateY(-20px);
         /* lo desplaza hacia abajo */
     }

     100% {

         transform: translateX(-300%);
         /* lo desplaza a la derecha */
     }
 }

 .carta1 {
     animation: desplazar 5s alternate-reverse
         /* con alternate-reverse  comienza la animacion en el último paso y se mueve hacia atrás, luego hacia adelante por eso empieza con el 100%*/
 }
 /*estilos para primeros dulces de targeta*/
 #dulce{
    width: 10vw;
    height: 10vh;
    background-color: #000000;
    margin-top: 10vh;
 }
 .opdulces{
    display: inline-block;
    gap: 10px
 }